In [ ]:
Реляционные, нереляционные базы данных. 
Apach - location server
MySQL - BD (реляционная)
Реляционная БД- хранит данные в виде таблиц, использует SQL для управления данными. 
Работает со структурированными данными. Целостность и согласованность данных
Нереляционные БД - хранят данные в разных фарматах, не ограничены таблицей. Используют разные языки запросов. Высокая производительность

Реляционный - PostgreSQL, MySQL. 1-й работает с более сложными проектами, быстрее, чем MySQL. 
Нереляционный - для работ нереляционные БД. Не привязанных 
Дамп - выгрузка в формате SQL

In [2]:
python -m venv venv

SyntaxError: invalid syntax (717537615.py, line 1)

In [66]:
import pandas as pd

In [67]:
import pymysql

In [83]:
try:
    my_conn = pymysql.connect(
        host="127.0.0.1",
        port=3306,
        user="root",
        password="",
        database="russia",
    )
    print("Удалось")

    try:
        output1 = "SELECT * FROM city"
        my_data = pd.read_sql(output1, my_conn)
        print(my_data)
    except:
        print("Не удалось найти таблицу")
    finally:
        my_conn.close()

except Exception as ex:

    print(ex)

Удалось
        id       name
0        1      Абаза
1        2     Абакан
2        3   Абдулино
3        4     Абинск
4        5    Агидель
...    ...        ...
1112  1113  Ярославль
1113  1114     Ярцево
1114  1115  Ясногорск
1115  1116      Ясный
1116  1117     Яхрома

[1117 rows x 2 columns]

C:\Users\PC\AppData\Local\Temp\ipykernel_9228\291217896.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  my_data = pd.read_sql(output1, my_conn)

In [53]:
df

NameError: name 'df' is not defined

In [4]:
engine = "mysql+pymysql://user:password@host:port/database"

In [3]:
df = pd.read_sql_query('SELECT * FROM CITY')

TypeError: read_sql_query() missing 1 required positional argument: 'con'

In [2]:
pd.read_sql_query?

Signature:
pd.read_sql_query(
    sql,
    con,
    index_col: 'str | list[str] | None' = None,
    coerce_float: 'bool' = True,
    params: 'list[str] | dict[str, str] | None' = None,
    parse_dates: 'list[str] | dict[str, str] | None' = None,
    chunksize: 'int | None' = None,
    dtype: 'DtypeArg | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | Iterator[DataFrame]'
Docstring:
Read SQL query into a DataFrame.

Returns a DataFrame corresponding to the result set of the query
string. Optionally provide an `index_col` parameter to use one of the
columns as the index, otherwise default integer index will be used.

Parameters
----------
sql : str SQL query or SQLAlchemy Selectable (select or text object)
    SQL query to be executed.
con : SQLAlchemy connectable, str, or sqlite3 connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library. If a DBAPI2 object, only sqlite3 is supported.
index_col : str or list of str, optional, default: None
    Column(s) to set as index(MultiIndex).
coerce_float : bool, default True
    Attempts to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point. Useful for SQL result sets.
params : list, tuple or dict, optional, default: None
    List of parameters to pass to execute method.  The syntax used
    to pass parameters is database driver dependent. Check your
    database driver documentation for which of the five syntax styles,
    described in PEP 249's paramstyle, is supported.
    Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}.
parse_dates : list or dict, default: None
    - List of column names to parse as dates.
    - Dict of ``{column_name: format string}`` where format string is
      strftime compatible in case of parsing string times, or is one of
      (D, s, ns, ms, us) in case of parsing integer timestamps.
    - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
      to the keyword arguments of :func:`pandas.to_datetime`
      Especially useful with databases without native Datetime support,
      such as SQLite.
chunksize : int, default None
    If specified, return an iterator where `chunksize` is the number of
    rows to include in each chunk.
dtype : Type name or dict of columns
    Data type for data or columns. E.g. np.float64 or
    {‘a’: np.float64, ‘b’: np.int32, ‘c’: ‘Int64’}.

    .. versionadded:: 1.3.0
dtype_backend : {"numpy_nullable", "pyarrow"}, defaults to NumPy backed DataFrames
    Which dtype_backend to use, e.g. whether a DataFrame should have NumPy
    arrays, nullable dtypes are used for all dtypes that have a nullable
    implementation when "numpy_nullable" is set, pyarrow is used for all
    dtypes if "pyarrow" is set.

    The dtype_backends are still experimential.

    .. versionadded:: 2.0

Returns
-------
DataFrame or Iterator[DataFrame]

See Also
--------
read_sql_table : Read SQL database table into a DataFrame.
read_sql : Read SQL query or database table into a DataFrame.

Notes
-----
Any datetime values with time zone information parsed via the `parse_dates`
parameter will be converted to UTC.
File:      d:\users\pc\anaconda3\lib\site-packages\pandas\io\sql.py
Type:      function